/*Esto es para eliminar la marca azul en la web*/
*{
    -webkit-tap-highlight-color: transparent;

}

*:focus{
    outline: none;
    
}



/* Lo basico de la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Barra de navegacion */
.navbar {
    position: fixed; /* La hace estática al hacer scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, botón a la derecha */
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000; /* Siempre por encima de todo */
}


.logo {
    display: flex;
    align-items: center;
    background: linear-gradient(to right,  #f25005, #f25c05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.barra-titulo{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px; 


    
}

.logo img {
    height: 30px; /* Tamaño del logo */
    margin-right: 10px;
}


/*  BOTÓN DE IMAGEN (ABRIR) */
.menu-open-btn {
    cursor: pointer;
}


.menu-open-btn img {
    height: 30px; /* Tamaño del botón del menú */
    display: block;
}


/* Ocultamos el checkbox */
.input-hidden {
    display: none;
}


/*  Menu (apariencia del menu) */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 137, 2); /* Fondo del menu*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Inicialmente oculto */
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}


/*  La apertura (esto es con checkbox) */
/* "Si el input está marcado, muestra el menu" */
#btn-menu:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}


/* 6. Etilo del menu interno */
.menu-links ul {
    list-style: none;
    text-align: center;
}


.menu-links li {
    margin: 20px 0;
}


.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    transition: color 0.3s;
}


.menu-links a:hover {
    color: #ffc400;
}


/* BOTÓN CERRAR (X) */
.menu-close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}


/*  AJUSTE DEl CONTENIDO */
.content {
    margin-top: 100px; /* Espacio para que el header no tape el inicio */
    padding: 20px;
    text-align: center;
}

/* Configuración General */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, #f28700 0%, #f25c05 100%);
    font-family: 'Segoe UI', system-ui, sans-serif;
}

/* El Panel */
.panel-container {
    background: #ffffff;
    width: 90%;
    max-width: 400px;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 90px;
}

/* Cabecera */
.panel-header h1 {
    color: #f25c05;
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
}

.status-badge {
    background: rgba(237, 108, 9, 0.1);
    color: #f25c05;
    font-size: 0.8rem;
    padding: 4px 12px;
    border-radius: 20px;
    width: fit-content;
    margin: 8px auto 20px auto;
    border: 1px solid #f25c05;
}

/* Lista de Miembros */
.team-section h3 {
    color: #f25c05;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 12px;
    text-align: center;
}

.member-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.member-list li {
    background: #F28705;
    margin-bottom: 8px;
    padding: 12px 16px;
    border-radius: 8px;
    color: #f1f5f9;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
}

.member-list li:hover {
    transform: translateX(10px);
    background: #ee6516;
}

.member-list span {
    margin-right: 12px;
}

/* Botón GitHub */
.panel-footer {
    margin-top: 24px;
}

.btn-github {
    display: block;
    text-align: center;
    background: #f25c05;
    color: black;
    text-decoration: none;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-github:hover {
    background: #f25c055d;
    box-shadow: 0 0 15px rgba(233, 100, 5, 0.4);
}
.repo{
    margin-top: 15px;
   color: #f25c05;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: center;

}
