*{
    -webkit-tap-highlight-color: transparent;

}

*:focus{
    outline: none;
    
}


/* lo basico de la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* barra de navegacion */
.navbar {
    position: fixed; /* La hace estática al hacer scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, botón a la derecha */
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000; /* Siempre por encima de todo */
}


.logo {
    display: flex;
    align-items: center;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.logo span{
    background: linear-gradient(to right,  #f25005, #f25c05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.logo img {
    height: 40px; /* Tamaño del logo */
    margin-right: 10px;
}


/* boton de imagen abrir */
.menu-open-btn {
    cursor: pointer;
}


.menu-open-btn img {
    height: 30px; /* Tamaño del botón de menú */
    display: block;
}


/* Ocultamos el checkbox */
.input-hidden {
    display: none;
}


/* Menu (CENTRO DE PANTALLA) */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #f25c05ec; /* Fondo del menu */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Inicialmente oculto */
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}


/* logica de abrir con el checkbox */
/* "Si el input está marcado, muestra el menu" */
#btn-menu:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}


/* estilo interno del menu */
.menu-links ul {
    list-style: none;
    text-align: center;
}


.menu-links li {
    margin: 20px 0;
}


.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    transition: color 0.3s;
}


.menu-links a:hover {
    color: #ffc400;
}


/* Boton cerrar */
.menu-close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}


/* ajuste del contenido */
.content {
    margin-top: 100px; /* Espacio para que el header no tape el inicio */
    padding: 5px;
    text-align: center;
    font-size: 25px;
}
.content p{
    font-size: 15px;
}
.content h1{
    background: linear-gradient(to right,  #f25c05, #f29705);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

/* La Tarjeta Principal */
.card {
    width: 90%;          /* En móvil ocupa casi todo el ancho */
    max-width: 450px;     /* En PC no se vuelve gigante, mantiene tamaño elegante */
    margin: 26px auto;    /* Centra la tarjeta en la pantalla */
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;     /* Corta los bordes de la imagen para que sigan el radio */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
  }
  
  
  .card:hover {
    transform: translateY(-5px); /* Efecto sutil al pasar el mouse */
  }
  
  
  /* Contenedor de Imagen */
  .image-container {
    width: 100%;
    height: 250px;        /* Altura fija para la foto para que todas las cards sean iguales */
  }
  
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;    /* La imagen llena el espacio sin deformarse */
    display: block;
  }
  
  
  /* El contenido (Texto y Botón) */
  .card-content {
    padding: 20spx;
    text-align: center;   /* Centra todo el texto y el botón */
    display: flex;
    flex-direction: column;
    gap: 15px;            /* Crea espacio uniforme entre elementos */
  }
  
  
  .card-title {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
  }
  
  
  .card-descrip {
    font-size: 2rem;
    color: #666;
    line-height: 1.2;
    margin-bottom: 25px;
    margin-top: 10;
  }
  
  
  /* El Botón */
  .card-button {
    margin-top:19px;
    margin-bottom:15px;
    box-shadow: 6px 5px 15px ;
    font-size: 16px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f25c05; /* El naranja de tu logo */
    color: white;
    text-decoration: none;
    border-radius: 35px;
    font-weight: bold;
    align-self: center;   /* Centra solo el botón */
    transition: background 0.3s;
  }
  
  
  .card-button:hover {
    background-color: #f23005;
}

.calen h1{
    margin-top:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,  #f25c05, #f29705);
    font-size: 38px;
    text-align: center;
    font: bold;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.contenedor-flexible {
    display: flex;
    justify-content: center; /* Centra el cuadro horizontalmente */
    padding: 20px;
  }
  
  
  .cuadro-adaptable {
    /* Tamaño base: ocupa el 90% en móviles, pero máximo 600px en PC */
    margin-top: 25px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 25px;

    align-content: center;
    width: 90%; 
    max-width: 600px; 
    
    /* Estética */
    background-color: #f4f4f4;
    padding: 2rem;
    border-left: 5px solid #f25c05; /* Un toque dorado colonial */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
    /* Tipografía fluida */
    font-family: sans-serif;
    line-height: 1.6;
    
  }
  
  
  /* Ajuste opcional para pantallas muy pequeñas */
  @media (max-width: 480px) {
    .cuadro-adaptable {
      padding: 1rem;
      font-size: 28px;
    }
  }

  .cuadro-adaptable p{
      font-size: 14px;
  }
