


/*Esto es para eliminar la marca azul en la web*/
*{
    -webkit-tap-highlight-color: transparent;

}

*:focus{
    outline: none;
    
}



/* Lo basico de la pagina */
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Barra de navegacion */
.navbar {
    position: fixed; /* La hace estática al hacer scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, botón a la derecha */
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000; /* Siempre por encima de todo */
}


.logo {
    display: flex;
    align-items: center;
    background: linear-gradient(to right,  #f25005, #f25c05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.barra-titulo{
    font-weight: bold;
    font-size: 20px;
    border: 20px;
}

.logo img {
    height: 30px; /* Tamaño del logo */
    margin-right: 10px;
}


/*  BOTÓN DE IMAGEN (ABRIR) */
.menu-open-btn {
    cursor: pointer;
}


.menu-open-btn img {
    height: 30px; /* Tamaño del botón del menú */
    display: block;
}


/* Ocultamos el checkbox */
.input-hidden {
    display: none;
}


/*  Menu (apariencia del menu) */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #f25c05ec; /* Fondo del menu*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Inicialmente oculto */
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}


/*  La apertura (esto es con checkbox) */
/* "Si el input está marcado, muestra el menu" */
#btn-menu:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}


/* 6. Etilo del menu interno */
.menu-links ul {
    list-style: none;
    text-align: center;
}


.menu-links li {
    margin: 20px 0;
}


.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    transition: color 0.3s;
}


.menu-links a:hover {
    color: #ffc400;
}


/* BOTÓN CERRAR (X) */
.menu-close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.content {
    margin-top: 50px; /* Espacio para que el header no tape el inicio */
    padding: 5px;
    text-align: center;
    font-size: 20px;
}
.content p{
    margin: 5px 10px 5px;
    font-size: 15px;
}
.content h1{
    margin-left: 10px;
    margin-right: 10px;
}
.contenedor-flexible {
    display: flex;
    justify-content: center; /* Centra el cuadro horizontalmente */
    padding: 20px;
  }
  
  
  .cuadro-adaptable {
    /* Tamaño base: ocupa el 90% en móviles, pero máximo 600px en PC */
    margin-top: 25px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 25px;

    align-content: center;
    width: 90%; 
    max-width: 600px; 
    
    /* Estética */
    background-color: #f4f4f4;
    padding: 2rem;
    border-left: 5px solid #f25c05; /* Un toque dorado colonial */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
    /* Tipografía fluida */
    font-family: sans-serif;
    line-height: 1.6;

    
  }
  
  
  /* Ajuste opcional para pantallas muy pequeñas */
  @media (max-width: 480px) {
    .cuadro-adaptable {
      padding: 1rem;
      font-size: 28px;
    }
  }

  .cuadro-adaptable p{
      font-size: 16px;
  }

  .subrayado{
    text-decoration: underline;
    text-decoration-color: #f25c05;
    text-underline-offset: 5px;
    font-weight: bold;
    color: black;
}

 

.dia_importante{
    color: #000000;
    background: #f28705;
    border-radius: 20px;
    font-weight: bold;
}


div .mes {
    text-align: center;
    width: 130px;
    padding: 30px;
    
    
    
}


ol {
    list-style: none;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    background: whitesmoke;
    box-shadow: 0 15px 15px  rgba(75, 2, 2, 0.336);
    border-radius: 10px;
   

}

ol li {
    margin: 0 0 18px 0;
    box-shadow: 0 .2px .2px ;
    
    
}


.inicio_enero{
    grid-column-start: 5;
}

.dia {
    background:#f25c05 ;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    

}

.ultimo_dia_enero {
 grid-column-end: 8;
}

.inicio_febrero {
    grid-column-start: 0;
}

.ultimo_dia_febrero{
    grid-column-end: 8;
}

.inicio_marzo {
    grid-column-start: 0;
}

.ultimo_dia_marzo{
    grid-column-end: 4;
}

.inicio_abril{
    grid-column-start: 4;
}

.ultimo_dia_abril{
    grid-column-end: 6;
}

.inicio_mayo{
    grid-column-start: 6;
    color: #000000;
    background: #f28705;
    border-radius: 20px;
    font-weight: bold;
}

.ultimo_dia_mayo{
    grid-column-end:0 ;
}


.inicio_junio{
    grid-column-start: 2;
}

.ultimo_dia_junio{
    grid-column-end: 4;
}
.inicio_julio{
    grid-column-start: 4;
}

.ultimo_dia_julio{
    grid-column-end: 7;
}

.inicio_agosto{
    grid-column-start: 7;
}

.ultimo_dia_agosto{
    grid-column-end: 3;
}
.inicio_septiembre{
    grid-column-start: 3;
}

.ultimo_dia_septiembre{
    grid-column-end: 5;
}

.inicio_octubre{
    grid-column-start: 5;
}

.ultimo_dia_octubre{
    grid-column-end: 8;
}

.inicio_noviembre{
    grid-column-start: 1;
    color: #000000;
    background: #f28705;
    border-radius: 20px;
    font-weight: bold;
}

.ultimo_dia_noviembre{
    grid-column-end: 3;
}

.inicio_diciembre{
    grid-column-start: 3;
}




.ultimo_dia_diciembre{
    grid-column-end: 6;
}

button {
    width: 200px;
    height: 50px;
    background: linear-gradient(to right,  #f25c05, #f29705);
    border-radius: 15px;
    margin: 15px;
    color: #e6e6e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.menu2{
    position: relative;
    display: inline-block;
    
    
}

.lista{
    display: none;
    position: relative;
    background: #f28705;
    box-shadow: #000000;
    padding: .1px;
    font-weight: bold;
    box-shadow: 0 10px 10px  #f25c0577;
    border-radius: 5px;
    margin: 0 0 5px;
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.336);
    margin-top: 7px;
    margin-bottom: 10px;
}

.lista:hover{
   
    box-shadow: 0 10px 10px  #f25c0577;
    
}

.menu2:hover .lista{
    display: block;
    

}

div .lista p {
    box-shadow: 0 .2px .2px ;
}


body {
    background: #e6e6e6;
}