h1{
    text-align: center;
    color: black;
}

p{
    padding: 20px;
    text-align: center;
    color: black;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    position: fixed; /* La hace estática al hacer scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, botón a la derecha */
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000; /* Siempre por encima de todo */
}

.logo {
    display: flex;
    align-items: center;
}

.barra-titulo{
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(rgb(255, 238, 199), #ffca8e);
    border: 25px;
    border-radius: 30px;
    margin-top: 0px;

    
}

.logo img {
    height: 30px; /* Tamaño del logo */
    margin-right: 10px;
}

.menu-open-btn {
    cursor: pointer;
}


.menu-open-btn img {
    height: 30px; /* Tamaño del botón del menú */
    display: block;
}


/* Ocultamos el checkbox */
.input-hidden {
    display: none;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 137, 2); /* Fondo del menu*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Inicialmente oculto */
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

#btn-menu:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}


.menu-links ul {
    list-style: none;
    text-align: center;
}


.menu-links li {
    margin: 20px 0;
}


.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    transition: color 0.3s;
}


.menu-links a:hover {
    color: #ffc400;
}


/* BOTÓN CERRAR (X) */
.menu-close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.imagentop {

   max-width: 100%;
   max-height: 100%;
   height: auto;
   width: auto;

}

#titulo{
    font-size: 60px;
    text-align: center;
    padding: 40px;
    margin: 40px;

}

.content {
    margin-top: 70px; /* Espacio para que el header no tape el inicio */
    padding: 5px;
    text-align: center;
    border-radius: 12px;
    background: linear-gradient(#e2dfdb, rgb(229, 185, 83));
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    margin: 15px auto;
    width:97%;           /* La caja ahora ocupa el 85% de la pantalla */
    max-width: 1000px;    /* Evita que en pantallas muy grandes se estire demasiado */
    border-radius: 15px;  /* (Opcional) Bordes redondeados para que se vea más moderna */

    margin:0 5px 20px 5px;
}

.caracteristicas {
    margin-top: 100px;
    padding: 20px;
}

.parrafo2{
    margin-top: 100px; /* Espacio para que el header no tape el inicio */
    padding: 40px;
    text-align: center;
    border-radius: 12px;
    background: linear-gradient(rgb(248, 176, 7), #e5dace);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    margin: 40px auto;
    width: 100%;           /* La caja ahora ocupa el 85% de la pantalla */
    max-width: 1000px;    /* Evita que en pantallas muy grandes se estire demasiado */
    border-radius: 15px;  /* (Opcional) Bordes redondeados para que se vea más moderna */
    text-align: center;
}

.subrayado{
    text-decoration: underline;
    text-decoration-color: #f25c05;
    text-underline-offset: 4px;
    font-weight: bold;
    color: black;
    font-size:25px;
    margin-bottom: 15px;

}

.dep-2{
    margin-top: 20%;


}



.img-img{
    max-width: 100%;
    height: auto;
    display: block;

    margin-top:75px;

}