/*Esto es para eliminar la marca azul en la web*/
*{
    -webkit-tap-highlight-color: transparent;

}

*:focus{
    outline: none;
    
}



/* Lo basico de la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Barra de navegacion */
.navbar {
    position: fixed; /* La hace estática al hacer scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, botón a la derecha */
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000; /* Siempre por encima de todo */
}


.logo {
    display: flex;
    align-items: center;
}

.barra-titulo{
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(rgb(255, 238, 199), #ffca8e);
    border: 20px;


    
}

.logo img {
    height: 30px; /* Tamaño del logo */
    margin-right: 10px;
}


/*  BOTÓN DE IMAGEN (ABRIR) */
.menu-open-btn {
    cursor: pointer;
}


.menu-open-btn img {
    height: 30px; /* Tamaño del botón del menú */
    display: block;
}


/* Ocultamos el checkbox */
.input-hidden {
    display: none;
}


/*  Menu (apariencia del menu) */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 137, 2); /* Fondo del menu*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Inicialmente oculto */
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}


/*  La apertura (esto es con checkbox) */
/* "Si el input está marcado, muestra el menu" */
#btn-menu:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}


/* 6. Etilo del menu interno */
.menu-links ul {
    list-style: none;
    text-align: center;
}


.menu-links li {
    margin: 20px 0;
}


.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    transition: color 0.3s;
}


.menu-links a:hover {
    color: #ffc400;
}


/* BOTÓN CERRAR (X) */
.menu-close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}


/*  AJUSTE DEl CONTENIDO */
.content {
    margin-top: 100px; /* Espacio para que el header no tape el inicio */
    padding: 20px;
    text-align: center;
}

