<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coro.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_balcon_arcayas.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo2.png')}}">
</head><h1>Balcón de los Arcayas</h1>
<body>

    <header class="navbar">
        <div  class="logo"><a href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='img/icons8_left.ico')}}" alt="Logo">
        </a>
            
            <span class="barra-titulo" >Balcón de los Arcayas</span>
        </div>

        


        <input type="checkbox" id="btn-menu" class="input-hidden">
        <img src="" alt="">


        <label for="btn-menu" class="menu-open-btn">
            <img src="{{url_for('static', filename='img/icons8_menu.ico')}}" alt="Abrir Menú">
        </label>


        <div class="menu-overlay">
            <label for="btn-menu" class="menu-close-btn">&times;</label>
            
            <nav class="menu-links">
                <ul>
                    <li><a href="{{ url_for('index')}}">Inicio</a></li>
                    <li><a href="{{ url_for('calendario')}}">Calendario</a></li>
                    <li><a href="{{ url_for('centro_juegos')}}">Juegos</a></li>
                    
            <li><a href=""><a href="{{ url_for('info')}}">Info</a></li>
                    
            
            </nav>
        </div>
    </header>

        </header id="inicio" class="hero">
        <div class="hero-content">
            <span class="tag">Santa Ana de coro</span>
            <h1>Balcón de los Arcayas</h1>
            <p>Originalmente levantada en el siglo XVIII por Francisco de la Colina, esta mansión es mucho más que una casa con balcón; 
            es un cofre de tesoros que ha pasado de ser residencia de la élite a un refugio para la cultura popular venezolana.</p>
        <section id="inicio">
            <div class="actions">
                <a href="#monumentos" class="btn btn-main">Ver detalles</a>
                <a href="#historia" class="btn btn-sub">historia</a>

            </div>
        </div>
        </section>
        </header>

        <!--Galeria de monumentos-->

        <section id="monumentos" class="section">
            <h2 class="title">¿Qué lo hace único en América?</h2>
            <div class="grid">
                <div class="item">
                    <div class="item-img img-1"></div>
                    <div class="item-text">
                        <h3>El Cují Ancestral</h3>
                        <p>En su patio descansa un ejemplar de cují (árbol icónico de Falcón) de una especie extremadamente antigua, 
                        testigo silencioso de siglos de historia.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img img-2"></div>
                    <div class="item-text">
                        <h3>Fauna Prehistórica</h3>
                        <p>¡No todo es colonia! El museo resguarda vestigios de la era del hielo, 
                        incluyendo fósiles y caparazones de tortugas gigantes que habitaron la región hace miles de años.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img img-3"></div>
                    <div class="item-text">
                        <h3>Cerámica Viva</h3>
                        <p>Una colección única de loza que muestra cómo los venezolanos han moldeado la tierra para crear arte y utilidad.</p>
                    </div>
                </div>
        
            </div>
        </section>

        <section id="Caracteristicas" class="section">
            <h2 class="title">Curiosidades</h2>
            <div class="grid">
                <div class="item">

                    <div class="item-text">
                        <h3>Origen y Construcción</h3>
                        <p>Originalmente, fue construida por Francisco de la Colina en la primera mitad del siglo XVIII y 
                        se convirtió en una de las casas más imponentes de la zona colonial de Coro.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-text">
                        <h3>Adquisición por la Familia Arcaya</h3>
                        <p>A mediados del siglo XX, la familia Arcaya compró la propiedad, dándole su nombre actual.</p>
                    </div>
                </div>

                <div class="item">

                    <div class="item-text">
                        <h3>Homenaje a Pedro Manuel Arcaya</h3>
                        <p>La casa es también un homenaje a Pedro Manuel Arcaya, nacido allí en 1874, 
                        un importante historiador y jurista venezolano.</p>
                    </div>
                </div>

                <div class="item">

                    <div class="item-text">
                        <h3>Importancia Cultural</h3>
                        <p>Es un ícono del Patrimonio Cultural de la Humanidad en Coro, una ciudad declarada por la UNESCO.
                        Representa la arquitectura colonial venezolana, combinando estilos locales con influencias de las Antillas Holandesas.
                        </p>
                    </div>
                </div>
        
            </div>
        </section>

        <section id="historia" class="history-section">
            <div class="history-container">
                <h2 class="title">Evolución historica</h2>
                <div class="step">
                    <span class="year">Siglo XVIII</span>
                    <p>Nace como una de las construcciones más imponentes de la ciudad.</p>
                </div>
                <div class="step">
                    <span class="year">La Era Arcaya</span>
                    <p>A mediados del siglo XX, la familia Arcaya la adquiere, inmortalizando su nombre en la fachada. 
                    En sus pasillos nació Pedro Manuel Arcaya, una de las mentes jurídicas e históricas más brillantes del país.</p>
                </div>
                <div class="step">
                    <span class="year">1973 - Presente</span>
                    <p>Donada a la nación, hoy es la sede del Museo de Cerámica y Loza Popular, 
                    un espacio dedicado al arte del barro fundado por el célebre J.M. Cruxent.</p>
                </div>
            </div>
        </section>


        <footer class="footer">
            <a href="#inicio"><p>Histórico - Patrimonio Cultural de Coro</p></a>
        </footer>



    </header>
    
</body>
</html>