<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coro.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_calendario.css') }}">
    
</head><h1>calendario</h1>
<body>

    <header class="navbar">
        <div  class="logo"><a href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='img/icons8_left.ico')}}" alt="Logo">
        </a>
            
            <span class="barra-titulo" >Calendario</span>
        </div>

        


        <input type="checkbox" id="btn-menu" class="input-hidden">
        <img src="" alt="">


        <label for="btn-menu" class="menu-open-btn">
            <img src="{{url_for('static', filename='img/icons8_menu.ico')}}" alt="Abrir Menú">
        </label>


        <div class="menu-overlay">
            <label for="btn-menu" class="menu-close-btn">&times;</label>
            
            <nav class="menu-links">
                <ul>
                    <li><a href="{{ url_for('index')}}">Inicio</a></li>
                    <li><a href="{{ url_for('calendario')}}">Calendario</a></li>
                    <li><a href="{{ url_for('juegos')}}">Juegos</a></li>
            <li><a href=""><a href="{{ url_for('info')}}">Info</a></li>
                    
            
            </nav>
        </div>

        
    </header>

    <main class="content">
        <h1>Calendario Cultural</h1>
        <p>Descubre todas los eventos inportantes de nuestra ciudad.</p>
    </main">

    <div class="menu">
        <button class="festividdes"><h2>ENERO</h2> </button>
        <div class="lista">
         <p> 6 enero dia de reyes magos</p>   <br>
          <p>26 enero aniversario de coro</p>   <br>

        </div>
        
    </div> 

    <div>
    <!-- calendario de enero-->
     <h2> enero del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>  
            <li class="inicio_enero" >1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_enero">31</li>
        </ol>

        
    </div>   
    
   
    
<!-- calendario de febrero-->
    <div>
        <h2>febrero del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_febrero">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li class="ultimo_dia_febrero">28</li>
           
        </ol>
        
                
    </div>
<!-- calendario de marzo-->
    <div>
        <h2>marzo del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_marzo">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_marzo">31</li>
        </ol>
        
                
    </div>
    <!-- calendario de abril-->
     <div>
        <h2>abril del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_abril">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>

            <li class="ultimo_dia_abril">30</li>
        </ol>
        
                
    </div>
    <!-- calendario de mayo-->
    <div>
        <h2>mayo del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_mayo">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_mayo">31</li>
        </ol>
        
                
    </div>
    <!-- calendario de junio-->
    <div>
        <h2>junio del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_junio">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li class="ultimo_dia_junio">30</li>
        </ol>
        
                
    </div>
    <!-- calendario de julio-->
    <div>
        <h2>julio del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_julio">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_julio">31</li>
        </ol>
        
                
    </div>
    <!-- calendario de agosto-->
    <div>
        <h2>agosto del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_agosto">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_agosto">31</li>
        </ol>
        
                
    </div>
    <!-- calendario de septiembre-->
    <div>
        <h2>septiembre del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_septiembre">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li class="ultimo_dia_septiembre">30</li>
        </ol>
        
                
    </div>
    <!-- calendario de octubre-->
    <div>
        <h2>octubre del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_octubre">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_octubre">31</li>
        </ol>
        
                
    </div>
    <!-- calendario de noviembre-->
    <div>
        <h2>noviembre del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_noviembre">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li class="ultimo_dia_noviembre">30</li>
        </ol>
        
                
    </div>
    <!-- calendario de diciembre-->
    <div>
        <h2>diciembre del 2026</h2>
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vir</li>
            <li class="dia">sab</li>
            
            <li class="inicio_diciembre">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_diciembre">31</li>
        </ol>
        
                
    </div>



    


       
</body>
</html>
      </div>

      <div>
        <div class="cuadro-adaptable">
          <h3><span class="subrayado">Febrero</span></h3>
          <p>Día de la Federación (20 de febrero). </p>
          <p>Virgen de Guadalupe de El Carrizal.</p>
          <p>Día de la Candelaria (2 de febrero).</p>
         
  
        </div>
      </div>

</body>
</html>