<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coro.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_calendario.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo2.png')}}">
</head><h1>calendario</h1>
<body>

    <header class="navbar">
        <div  class="logo"><a href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='img/icons8_left.ico')}}" alt="Logo">
        </a>
            
            <span class="barra-titulo" >Calendario</span>
        </div>

        


        <input type="checkbox" id="btn-menu" class="input-hidden">
        <img src="" alt="">


        <label for="btn-menu" class="menu-open-btn">
            <img src="{{url_for('static', filename='img/icons8_menu.ico')}}" alt="Abrir Menú">
        </label>


        <div class="menu-overlay">
            <label for="btn-menu" class="menu-close-btn">&times;</label>
            
            <nav class="menu-links">
                <ul>
                    <li><a href="{{ url_for('index')}}">Inicio</a></li>
                    <li><a href="{{ url_for('calendario')}}">Calendario</a></li>
                    <li><a href="{{ url_for('juegos')}}">Juegos</a></li>
            <li><a href=""><a href="{{ url_for('info')}}">Info</a></li>
                    
            
            </nav>
        </div>

        
    </header>

    <main class="content">
        <h1>Calendario Cultural</h1>
        <p>Descubre todas los eventos inportantes de nuestra ciudad.</p>
    </main">
<body>
    

<!-- boton para las festividades en enero-->
    <div class="menu">
        <button class="festividdes"><h2>ENERO 2026</h2> </button>
        <div class="lista">
         <p> 6  Dia de reyes magos</p>   <br>
         <p> 14  Dia de la Divina Pastora</p>   <br>
         <p> 26   Aniversario de Coro</p>   <br>
          

        </div>
        
    </div> 
   
<!-- calendario de enero-->
    <div class="mes" translate="no">

    
     
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mie</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>  
            <li class="inicio_enero" >1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li class="dia_importante">6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li class="dia_importante">14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li class="dia_importante">26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_enero">31</li>
        </ol>

        
    </div>    
    
<br>
<br>

<!-- boton para las festividades en febrero-->
    <div class="menu">
        <button class="festividdes"><h2>FEBRERO 2026</h2> </button>
        <div class="lista">
         <p> 2 Dia de la virgen de la Candelaria</p><br>
          <p>12  Dia de la juventud</p><br>
          <p>20  Dia de la Federación</p><br>

        </div>
        
    </div> 
    
<!-- calendario de febrero-->
    <div class="mes" translate="no">
        
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mie</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_febrero">1</li>
            <li class="dia_importante">2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li class="dia_importante">12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li class="dia_importante">20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li class="ultimo_dia_febrero">28</li>
           
        </ol>
        
                
    </div>
    <br>
    <br>
    
<!-- boton para las festividades en marzo-->
    <div class="menu">
        <button class="festividdes"><h2>MARZO 2026</h2> </button>
        <div class="lista">
            <p>8 Dia de la Mujer  </p><br>
          <p>19  Dia de San Jose</p><br>
          

        </div>
        
    </div> 
   
    
<!-- calendario de marzo-->
    <div class="mes" translate="no">
        
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mie</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_marzo">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li class="dia_importante">8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li class="dia_importante">19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_marzo">31</li>
        </ol>
        
                
    </div>

    <br>
    <br>
    
<!-- boton para las festividades en abril-->
    <div class="menu">
        <button class="festividdes"><h2>ABRIL 2026</h2> </button>
        <div class="lista">
         
          <p>19 Conmemoración del inicio de la independencia</p><br>
          
          <p>25 Natalicio del general Marcos Perez Jimenes </p><br>

        </div>
        
    </div> 
    <!-- calendario de abril-->
     <div class="mes" translate="no">
       
        <ol>
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mie</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_abril">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li class="dia_importante">19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li class="dia_importante">25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>

            <li class="ultimo_dia_abril">30</li>
        </ol>
        
                
    </div>
    <br>
    <br>
    
    <!-- boton para las festividades en mayo-->
    <div class="menu">
        <button class="festividdes"><h2>MAYO 2026</h2> </button>
        <div class="lista">
            <p>1 Dia del trabajador </p><br>
         
          <p>3 Fiesta de Cruz de Mayo</p><br>
          <p>15 Fiesta de San Isidro </p><br>
          

        </div>
        
    </div> 

    

    <!-- calendario de mayo-->
    <div class="mes" translate="no">

       
       

       
        <ol translate="no">

            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mie</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_mayo">1</li>
            <li>2</li>
            <li class="dia_importante">3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li class="dia_importante">15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_mayo">31</li>
        </ol>
        
                
    </div>
    <br>
    <br>

    <!-- boton para las festividades en junio-->
    <div class="menu">
        <button class="festividdes"><h2>JUNIO 2026</h2> </button>
        <div class="lista">
         
          <p>24 Conmemoración de la Batalla de Carabobo</p><br>
          <p>29 dia de San Pedro y San Pablo </p><br>
          

        </div>
        
    </div> 
    

    <!-- calendario de junio-->
    <div class="mes" translate="no">
       
        <ol translate="no">
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_junio">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li class="dia_importante">24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li class="dia_importante">29</li>
            <li class="ultimo_dia_junio">30</li>
        </ol>
        
                
    </div>
    <br>
    <br>
    
    <!-- boton para las festividades en julio-->
    <div class="menu">
        <button class="festividdes"><h2>JULIO 2026</h2> </button>
        <div class="lista">
         
          <p>26 Aniversario de Coro</p><br>
        
          

        </div>
        
    </div> 
    <!-- calendario de julio-->
    <div class="mes" translate="no">
        
        <ol translate="no">
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_julio">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li class="dia_importante">26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_julio">31</li>
        </ol>
        
                
    </div>
    <br>
    <br>
    
    <!-- boton para las festividades en AGOSTO-->
    <div class="menu">
        <button class="festividdes"><h2>AGOSTO 2026</h2> </button>
        <div class="lista">
         
          <p>3 Izada de Bandera en Plazas Corianas</p><br>
          
          <p>24 dia de San Bartolome</p><br>
          

        </div>
        
    </div> 
    <!-- calendario de agosto-->
    <div class="mes" translate="no">
        
        <ol translate="no">
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_agosto">1</li>
            <li>2</li>
            <li class="dia_importante">3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li class="dia_importante">24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_agosto">31</li>
        </ol>
        
                
    </div>
    <br>
    <br>
    
    <!-- boton para las festividades en SEPTIEMBRE-->
    <div class="menu">
        <button class="festividdes"><h2>SEPTIEMBRE 2026</h2> </button>
        <div class="lista">
         
          <p>8 Fiesta de la Virgen del Valle</p><br>
          
          <p>24 dia de la virgen de las mercedes </p><br>
          

        </div>
        
    </div> 
    <!-- calendario de septiembre-->
    <div class="mes" translate="no">
       
        <ol translate="no">
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_septiembre">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li class="dia_importante">8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li class="dia_importante">24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li class="ultimo_dia_septiembre">30</li>
        </ol>
        
                
    </div>
    <br>
    <br>
    
    <!-- boton para las festividades en OCTUBRE-->
    <div class="menu">
        <button class="festividdes"><h2>OCTUBRE 2026</h2> </button>
        <div class="lista">
         
          <p>4 Dia de San Francisco de Asis</p><br>
          <p>12 Dia de la Resistencia Indigena</p><br>
          <p>18 dia de San Lucas</p><br>
          

        </div>
        
    </div> 
    <!-- calendario de octubre-->
    <div class="mes" translate="no">
        
        <ol translate="no">
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_octubre">1</li>
            <li>2</li>
            <li>3</li>
            <li class="dia_importante">4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li class="dia_importante">12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li class="dia_importante">18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_octubre">31</li>
        </ol>
        
                
    </div>
    <br>
    <br>
    
    <!-- boton para las festividades en NOVIEMBRE-->
    <div class="menu">
        <button class="festividdes"><h2>NOVIEMBRE 2026</h2> </button>
        <div class="lista">
         
          <p>1 Dia de Todos los Santos</p><br>
          <p>2 Dia de los Difuntos </p><br>
          <p>18 Dia de la virgen de Chiquinquira</p><br>
          

        </div>
        
    </div> 
    <!-- calendario de noviembre-->
    <div class="mes" translate="no">
       
        <ol translate="no">
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_noviembre">1</li>
            <li class="dia_importante">2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li class="dia_importante">18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li class="ultimo_dia_noviembre">30</li>
        </ol>
        
                
    </div>
    <br>
    <br>
    
    <!-- boton para las festividades en DICIEMBRE-->
    <div class="menu">
        <button class="festividdes"><h2>DICIEMBRE 2026</h2> </button>
        <div class="lista">
         
          <p>9 Declaracion de Coro y la Vela como Patrimonio</p><br>
          <p>17 Conmemoración de la Muerte de Simon Bolivar </p><br>
          <p>27 Dia de San Benito </p><br>
          

        </div>
        
    </div> 
    <!-- calendario de diciembre-->
    <div class="mes" translate="no">
    
        <ol translate="no">
            <li class="dia">dom</li>
            <li class="dia">lun</li>
            <li class="dia">mar</li>
            <li class="dia">mir</li>
            <li class="dia">jue</li>
            <li class="dia">vie</li>
            <li class="dia">sab</li>
            
            <li class="inicio_diciembre">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li class="dia_importante">9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li class="dia_importante">17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li class="dia_importante">27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="ultimo_dia_diciembre">31</li>
        </ol>
        <br>
        <br>
                
    </div>

</body>

    


       
