<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coro.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_casco_historico.css') }}">
</head>
<body>

    <header class="navbar">
        <div  class="logo"><a href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='img/icons8_left.ico')}}" alt="Logo">
        </a>
            
            <span class="barra-titulo" >Casco Histórico</span>
        </div>

        


        <input type="checkbox" id="btn-menu" class="input-hidden">
        <img src="" alt="">


        <label for="btn-menu" class="menu-open-btn">
            <img src="{{url_for('static', filename='img/icons8_menu.ico')}}" alt="Abrir Menú">
        </label>


        <div class="menu-overlay">
            <label for="btn-menu" class="menu-close-btn">&times;</label>
            
            <nav class="menu-links">
                <ul>
                    <li><a href="{{ url_for('index')}}">Inicio</a></li>
                    <li><a href="{{ url_for('calendario')}}">Calendario</a></li>
                    <li><a href="{{ url_for('juegos')}}">Juegos</li>
                    
            <li><a href=""><a href="{{ url_for('info')}}">Info</a></li>
                    
            
            </nav>
        </div>
    </header id="inicio" class="hero">
        <div class="hero-content">
            <span class="tag">ESTADO FALCON</span>
            <h1>Casco Histórico de Coro</h1>
            <p>Un tesoro colonial declarado Patrimonio Cultural de la Humanidad por la UNESCO. Fue la primera ciudad de Venezuela y su centro histórico es famoso por sus calles empedradas y edificaciones coloniales únicas,
            que combinan influencias españolas y locales.</p>
        <section id="inicio">
            <div class="actions">
                <a href="#monumentos" class="btn btn-main">Ver detalles</a>
                <a href="#historia" class="btn btn-sub">Cronología</a>

            </div>
        </div>
        </section>
        </header>

        <!--Galeria de monumentos-->

        <section id="monumentos" class="section">
            <h2 class="title">Lugares Emblematicos</h2>
            <div class="grid">
                <div class="item">
                    <div class="item-img img-1"></div>
                    <div class="item-text">
                        <h3>Ventanas de Hierro</h3>
                        <p>Famosa por su importante portal y los detalles en herrería traídos de Sevilla en la época colonial.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img img-2"></div>
                    <div class="item-text">
                        <h3>Cruz de San Clemente</h3>
                        <p>El sitio donde se ofició la primera misa; un símbolo de la fe y la fundación de la ciudad.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img img-3"></div>
                    <div class="item-text">
                        <h3>Catedral de Coro</h3>
                        <p>Una de las construcciones religiosas mas antiguas del continente, con muros de gran espesor.</p>
                    </div>
                </div>
        
            </div>
        </section>

        <section id="historia" class="history-section">
            <div class="history-container">
                <h2 class="title">Linea de Tiempo</h2>
                <div class="step">
                    <span class="year">1527</span>
                    <p>Fundación de la ciudad por Juan de Ampies bajo el nombre de Santa Ana de Coro.</p>
                </div>
                <div class="step">
                    <span class="year">1993</span>
                    <p>Inscripción de la lista de Patrimonio Mundial de la UNESCO por su valor excepcional.</p>
                </div>
                <div class="step">
                    <span class="year">Hoy</span>
                    <p>Preservación activa de sus técnicas de construcción en tierra (adobe y tapia).</p>
                </div>
            </div>
        </section>


        <footer class="footer">
            <a href="#inicio"><p>Histórico - Patrimonio Cultural de Coro</p></a>
        </footer>



    


    

        
        



    


    


</body>
</html>