<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coro.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_casco_historico.css') }}">
</head>
<body>

    <header class="navbar">
        <div  class="logo"><a href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='img/icons8_left.ico')}}" alt="Logo">
        </a>
            
            <span class="barra-titulo" >Casco Histórico</span>
        </div>

        


        <input type="checkbox" id="btn-menu" class="input-hidden">
        <img src="" alt="">


        <label for="btn-menu" class="menu-open-btn">
            <img src="{{url_for('static', filename='img/icons8_menu.ico')}}" alt="Abrir Menú">
        </label>


        <div class="menu-overlay">
            <label for="btn-menu" class="menu-close-btn">&times;</label>
            
            <nav class="menu-links">
                <ul>
                    <li><a href="{{ url_for('index')}}">Inicio</a></li>
                    <li><a href="{{ url_for('calendario')}}">Calendario</a></li>
                    <li><a href="{{ url_for('centro_juegos')}}">Juegos</li>
                    
            <li><a href=""><a href="{{ url_for('info')}}">Info</a></li>
                    
            
            </nav>
        </div>
    </header id="inicio" class="hero">
        <div class="hero-content">
            <span class="tag">Santa Ana de Coro</span>
            <h1>Casco Histórico de Coro</h1>
            <p>Un tesoro colonial declarado Patrimonio Cultural de la Humanidad por la UNESCO. Fue la primera ciudad de Venezuela y su centro histórico es famoso por sus calles empedradas y edificaciones coloniales únicas,
            que combinan influencias españolas y locales.</p>
        <section id="inicio">
            <div class="actions">
                <a href="#monumentos" class="btn btn-main">Ver detalles</a>
                <a href="#historia" class="btn btn-sub">Historia</a>

            </div>
        </div>
        </section>
        </header>

        <!--Galeria de monumentos-->

        <section id="monumentos" class="section">
            <h2 class="title">Lugares Emblemáticos</h2>
            <div class="grid">
                <div class="item">
                    <div class="item-img img-1"></div>
                    <div class="item-text">
                        <a href="/ventanas_hierro">Ventanas de hierro</a>
                        <p>Famosa por su importante portal y los detalles en herrería traídos de Sevilla en la época colonial.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img img-2"></div>
                    <div class="item-text">
                        <a href="/balcon_arcayas">Balcón de los arcayas</a>
                        <p>Casona histórica y sede del Museo de Cerámica. Destaca por su arquitectura patrimonial y por albergar curiosidades que van desde un árbol de cují hasta restos prehistóricos.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img img-3"></div>
                    <div class="item-text">
                        <a href="/museo_guadalupano">Museo Guadalupano</a>
                        <p>Casona de 1770 y Monumento Nacional que fue sede del primer Ayuntamiento. Es famosa por sus túneles misteriosos (donde se rumorea un tesoro oculto) y su colección de reliquias religiosas e indumentaria papal.</p>
                    </div>
                </div>
        
            </div>
        </section>

        <section id="monumentos" class="section">
            <h2 class="title">Curiosidades</h2>
            <div class="grid">
                <div class="item">
                    <div class="item-text">
                        <h3>Construcción en Tierra</h3>
                        <p>Coro es el máximo exponente de la arquitectura de barro en el Caribe. Sus edificaciones utilizan técnicas ancestrales como el adobe y el bahareque, 
                        logrando estructuras que han desafiado el tiempo.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-text">
                        <h3>Fusión Hispano-Holandesa</h3>
                        <p>Su estética es única en el mundo por mezclar el estilo colonial español con detalles arquitectónicos de las Antillas Neerlandesas. 
                        Esta hibridación surgió del estrecho vínculo comercial con las islas de Aruba y Curazao.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-text">
                        <h3>Urbanismo Colonial</h3>
                        <p>Conserva sus emblemáticas calles empedradas y un trazado urbano original. 
                        El casco histórico se distingue por sus fachadas coloridas, grandes ventanales y patios centrales que mantienen vivo el ambiente del siglo XVIII.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-text">
                        <h3>Patrimonio de la Humanidad</h3>
                        <p>Gracias a su integridad histórica y autenticidad, 
                        fue el primer sitio de Venezuela en ser declarado Patrimonio Mundial por la UNESCO (1993), consolidándose como un tesoro cultural invaluable.</p>
                    </div>
                </div>                
        
            </div>
        </section>

        <section id="historia" class="history-section">
            <div class="history-container">
                <h2 class="title">Evolución Historica</h2>
                <div class="step">
                    <span class="year">1527</span>
                    <p>Fundación de la ciudad por Juan de Ampies bajo el nombre de Santa Ana de Coro.</p>
                </div>
                <div class="step">
                    <span class="year">1993</span>
                    <p>Inscripción de la lista de Patrimonio Mundial de la UNESCO por su valor excepcional.</p>
                </div>
                <div class="step">
                    <span class="year">Hoy</span>
                    <p>Preservación activa de sus técnicas de construcción en tierra (adobe y tapia).</p>
                </div>
            </div>
        </section>


        <footer class="footer">
            <a href="#inicio"><p>Histórico - Patrimonio Cultural de Coro</p></a>
        </footer>

        



    


    

        
        



    


    


</body>
</html>