<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wind</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <link rel="manifest" href="{{ url_for ('static', filename='manifest.json')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo2.png')}}">

</head>
<body>


    <header class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo2.png')}}" alt="Logo">
            <span>Wind</span>
        </div>

        


        <input type="checkbox" id="btn-menu" class="input-hidden">
        <img src="" alt="">


        <label for="btn-menu" class="menu-open-btn">
            <img src="{{url_for('static', filename='img/icons8_menu.ico')}}" alt="Abrir Menú">
        </label>


        <div class="menu-overlay">
            <label for="btn-menu" class="menu-close-btn">&times;</label>
            
            <nav class="menu-links">
                <ul>
                    <li><a href="{{ url_for('index')}}">Inicio</a></li>
                    <li><a href="{{ url_for('calendario')}}">Calendario</a></li>
        <!--AQUI -->          <li><a href="{{ url_for('centro_juegos')}}">Juegos</a></li>
            <li><a href=""><a href="{{ url_for('info')}}">Info</a></li>
                    
            
            </nav>
        </div>
    </header>


    <main class="content">
        <h1>¿Conoces a Coro?</h1>
        <p>Descubre todo sobre nuestra ciudad</p>
    </main">

    

    <!-- Tarjetas --> 

    <div class="card">
      <div class="image-container">
        <img src="{{url_for('static', filename='img/casco_historico.png')}}" alt="casco historico" 
        class="card-image">
      </div>
      <div class="card-container">
        <h3 class="card-tittle">Casco Historico</h3>
        <p class="card-descrip">El Casco Colonial de Santa Ana de Coro, capital del estado 
          Falcón, Venezuela, es un tesoro arquitectónico y cultural, declarado Patrimonio de la Humanidad por la <span class="subrayado">UNESCO en 1993.</span> 
        </p>
        <a href="{{ url_for('casco_historico')}}" class="card-button"> Conocer más</a>
      </div>

    </div>

    <!-- Tarjetas 2 --> 

    <div class="card">
      <div class="image-container">
        <img src="{{url_for('static', filename='img/casa_hierro.png')}}" alt="casco historico" 
        class="card-image">
      </div>
      <div class="card-container">
        <h3 class="card-tittle">Casa de las Ventanas de Hierro</h3>
        <p class="card-descrip">
          La Casa de las Ventanas de Hierro en Coro, Falcón, es una joya colonial construida en 1765 por <span class="subrayado">José Francisco Garcés de la Colina</span> , 
          famosa por sus pioneras rejas de hierro importadas de Europa.
          
        </p>
        <a href="{{ url_for('ventanas_hierro')}}" class="card-button"> Conocer más</a>
      </div>

    </div>

    <div class="calen">
      <h1>En este Mes se Celebra..</h1>
    </div>

    
    <div>
      <div class="cuadro-adaptable">
        <h3>Febrero</h3>
        <p>Día de la Federación (20 de febrero). </p>
        <p>Virgen de Guadalupe de El Carrizal.</p>
        <p>Día de la Candelaria (2 de febrero).</p>
       

      </div>
    </div>

<div class="main-wrapper">
    <div class="content-box">
        <img src="{{ url_for('static', filename='img/logo2.png')}}" alt="Wind Logo" class="logo-image">
        <p class="logo-text">Wind</p>
        <p><a>github.com/JaviGG2/Wind</a></p>
    </div>
</div>


        






</body>
</html>

