<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coro.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-info.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo2.png')}}">
</head>
<body>


    <header class="navbar">
        <div  class="logo"><a href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='img/icons8_left.ico')}}" alt="Logo">
        </a>
            
            <span class="barra-titulo" >Información</span>
        </div>

        


        <input type="checkbox" id="btn-menu" class="input-hidden">
        <img src="" alt="">


        <label for="btn-menu" class="menu-open-btn">
            <img src="{{url_for('static', filename='img/icons8_menu.ico')}}" alt="Abrir Menú">
        </label>


        <div class="menu-overlay">
            <label for="btn-menu" class="menu-close-btn">&times;</label>
            
            <nav class="menu-links">
                <ul>
                    <li><a href="{{ url_for('index')}}">Inicio</a></li>
                    <li><a href="{{ url_for('calendario')}}">Calendario</a></li>
                    <li><a href="{{ url_for('juegos')}}">Juegos</a></li>
            <li><a href=""><a href="{{ url_for('info')}}">Info</a></li>
                    
            
            </nav>
        </div>
    </header>


    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Wind - Equipo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="panel-container">
        <header class="panel-header">
            <h1>Proyecto: Wind</h1>
            <div class="status-badge">Activo</div>
        </header>

        <section class="team-section">
            <h3>Equipo de Desarrollo</h3>
            <ul class="member-list">
                <li><span>👤</span> Javier Garcia</li>
                <li><span>👤</span> Abraham Goitia</li>
                <li><span>👤</span> Armando Palombo</li>
                <li><span>👤</span> Anyuil Daal</li>
            </ul>
        </section>

        <footer class="panel-footer">
            <a href="https://github.com/JaviGG2/Wind" target="_blank" class="btn-github">
                Acceder al Repositorio
            </a>
           <h1 class="repo" href="https://github.com/JaviGG2/Wind">https://github.com/JaviGG2/Wind</h1>
        </footer>
    </div>

</body>
</html>


</body>
</html>

