<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coro.</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">

        <img class="bg" src="" alt="menu.png" alt="">
        <div class="menu container">  
            <a href="#" class="logo">logo</a>
            <input type="checkbox"  id="menu>
            <label for="menu">
                <img src="menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Play</a></li>
                </ul>
            </nav>
        </div>






    </header>
    
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coro.</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>

        <div class="manu conter">
            <a href="#"><img src="img/menu.ico" class="logo" alt=""></a>
            <input type="checkbox" id="menu">
            <label for="menu"><img src="img/menu.ico" alt=""></label>

            <nav class="navbar">
                <ul>
                    <li><a href="{{ url_for('index')}}">Inicio</a></li>
                    <li><a href="{{ url_for('calendario')}}">Calendario</a></li>
                    <li><a href="{{ url_for('juegos')}}">Play</a></li>
                </ul>

            </nav>
        </div>

        <div class="header-content">
            <div class="header-txt"></div>
            <h1>Casco historico</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laboriosam rem illum quis. Non deserunt minus, perferendis dolor alias qui
                voluptatibus tenetur dolores, iusto, illo blanditiis rem itaque? Sunt, ad cum.
            </p>
            <div class="botones">
                <a href="#" class="btn-1">Comprar</a>


            </div>




        </div>




    </header>
    