<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coro.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_ventanas_hierro.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo2.png')}}">
<body>

<header class="navbar">
        <div  class="logo"><a href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='img/icons8_left.ico')}}" alt="Logo">
        </a>
            
            <span class="barra-titulo" >Ventanas de hierro</span>
        </div>

        


        <input type="checkbox" id="btn-menu" class="input-hidden">
        <img src="" alt="">


        <label for="btn-menu" class="menu-open-btn">
            <img src="{{url_for('static', filename='img/icons8_menu.ico')}}" alt="Abrir Menú">
        </label>


        <div class="menu-overlay">
            <label for="btn-menu" class="menu-close-btn">&times;</label>
            
            <nav class="menu-links">
                <ul>
                    <li><a href="{{ url_for('index')}}">Inicio</a></li>
                    <li><a href="{{ url_for('calendario')}}">Calendario</a></li>
                    <li><a href="{{ url_for('centro_juegos')}}">Juegos</a></li>
            <li><a href=""><a href="{{ url_for('info')}}">Info</a></li>
                    
            
            </nav>
        </div>
    </header id="inicio" class="hero">
        <div class="hero-content">
            <span class="tag">Santa Ana de coro</span>
            <h1>La Casa de las ventanas de hierro</h1>
            <p>Ubicada en el corazón de Santa Ana de Coro, esta mansión no solo es una casa; es el símbolo de una época de opulencia e innovación. Construida por Don José Francisco Garcés de la Colina, 
            marcó un antes y un después al sustituir la madera tradicional por la resistencia y el brillo del hierro europeo</p>
        <section id="inicio">
            <div class="actions">
                <a href="#monumentos" class="btn btn-main">Ver detalles</a>
                <a href="#historia" class="btn btn-sub">Historia</a>

            </div>
        </div>
        </section>
        </header>

        <!--Galeria de monumentos-->

        <section id="monumentos" class="section">
            <h2 class="title">¿Qué la hace única en América?</h2>
            <div class="grid">
                <div class="item">
                    <div class="item-img img-1"></div>
                    <div class="item-text">
                        <h3>Pionera del Hierro</h3>
                        <p>Sus icónicas rejas fueron forjadas en Sevilla, España, y adquiridas en Santo Domingo. 
                        ¿El precio? Un verdadero tesoro de la época: fueron pagadas íntegramente con cacao venezolano.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img img-2"></div>
                    <div class="item-text">
                        <h3>Portal Monumental</h3>
                        <p>Su fachada te recibe con un imponente portal de yeso de 8 metros de altura, 
                        una obra maestra del barroco que parece tocar el cielo falconiano.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img img-3"></div>
                    <div class="item-text">
                        <h3>Fusión de Estilos</h3>
                        <p>Una mezcla perfecta entre el barroco español y la influencia de las Antillas Holandesas (Curazao).</p>
                    </div>
                </div>
        
            </div>
        </section>


        <section id="Caracteristicas" class="section">
            <h2 class="title">Curiosidades</h2>
            <div class="grid">
                <div class="item">

                    <div class="item-text">
                        <h3>Origen</h3>
                        <p>Se comenzó a construir en 1765 en el centro histórico de Coro, capital del estado Falcón.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-text">
                        <h3>El Nombre</h3>
                        <p>Su nombre proviene de las grandes rejas de hierro forjado traídas de Sevilla (España) y compradas en Santo Domingo, 
                        un material costoso y poco común en Venezuela, pagadas con cacao. 
                        Fue una de las primeras casas en Venezuela (y América) en usar ventanas de hierro, marcando una tendencia.</p>
                    </div>
                </div>

                <div class="item">

                    <div class="item-text">
                        <h3>Arquitectura</h3>
                        <p>Combina estilos barroco y curazoleño, con una imponente puerta de yeso de 8 metros de altura y una estructura que incluye patios interiores, 
                        techos de madera y elaborados detalles artesanales.</p>
                    </div>
                </div>

                <div class="item">

                    <div class="item-text">
                        <h3>Significado</h3>
                        <p>La casa no solo es un testimonio de la riqueza y el gusto de la época, sino también de la innovación arquitectónica en Venezuela, 
                        mostrando cómo se adaptaban los materiales y estilos europeos a la realidad local, sirviendo hoy como un valioso espacio cultural e histórico en el corazón de Coro, 
                        Patrimonio de la Humanidad.</p>
                    </div>
                </div>
        
            </div>
        </section>
        

        <section id="historia" class="history-section">
            <div class="history-container">
                <h2 class="title">Evolución historica</h2>
                <div class="step">
                    <span class="year">1764 - Construcción</span>
                    <p>Fue edificada por Don José Francisco Garcés de la Colina. En ese entonces, importar hierro desde España era un lujo extremo, 
                    lo que convirtió a la casa en un símbolo inmediato de estatus y poder económico.</p>
                </div>
                <div class="step">
                    <span class="year">Siglos XVIII - XX - Permanencia</span>
                    <p>A diferencia de otras propiedades coloniales, la casa de las ventanas de hierro permaneció en manos de la familia Garcés por siete generaciones, 
                    lo que permitió que su estructura y mobiliario original se preservaran de forma excepcional.</p>
                </div>
                <div class="step">
                    <span class="year">1993 - Hito Global</span>
                    <p>Fue declarada Patrimonio de la Humanidad por la UNESCO, junto al casco histórico de Coro y su puerto de La Vela, 
                    gracias a su técnica de construcción en barro (adobe y bahareque) y su estilo único.</p>
                </div>
            </div>
        </section>


        <footer class="footer">
            <a href="#inicio"><p>Histórico - Patrimonio Cultural de Coro</p></a>
        </footer>



    </header>

    
</body>
</html>