<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coro.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_ventanas_hierro.css') }}">
<body>

<header class="navbar">
        <div  class="logo"><a href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='img/icons8_left.ico')}}" alt="Logo">
        </a>
            
            <span class="barra-titulo" >Ventanas de Hierro</span>
        </div>

        


        <input type="checkbox" id="btn-menu" class="input-hidden">
        <img src="" alt="">


        <label for="btn-menu" class="menu-open-btn">
            <img src="{{url_for('static', filename='img/icons8_menu.ico')}}" alt="Abrir Menú">
        </label>


        <div class="menu-overlay">
            <label for="btn-menu" class="menu-close-btn">&times;</label>
            
            <nav class="menu-links">
                <ul>
                    <li><a href="{{ url_for('index')}}">Inicio</a></li>
                    <li><a href="{{ url_for('calendario')}}">Calendario</a></li>
                    <li><a href="{{ url_for('juegos')}}">Juegos</a></li>
            <li><a href=""><a href="{{ url_for('info')}}">Info</a></li>
                    
            
            </nav>
        </div>
    </header id="inicio" class="hero">
        <div class="hero-content">
            <span class="tag">ESTADO FALCON</span>
            <h1>La Casa de las ventanas de hierro</h1>
            <p>Ubicada en el corazón de Santa Ana de Coro, esta mansión no solo es una casa; es el símbolo de una época de opulencia e innovación. Construida por Don José Francisco Garcés de la Colina, 
            marcó un antes y un después al sustituir la madera tradicional por la resistencia y el brillo del hierro europeo</p>
        <section id="inicio">
            <div class="actions">
                <a href="#monumentos" class="btn btn-main">Ver detalles</a>
                <a href="#historia" class="btn btn-sub">Guía</a>

            </div>
        </div>
        </section>
        </header>

        <!--Galeria de monumentos-->

        <section id="monumentos" class="section">
            <h2 class="title">¿Qué la hace única en América?</h2>
            <div class="grid">
                <div class="item">
                    <div class="item-img img-1"></div>
                    <div class="item-text">
                        <h3>Pionera del Hierro</h3>
                        <p>Sus icónicas rejas fueron forjadas en Sevilla, España, y adquiridas en Santo Domingo. 
                        ¿El precio? Un verdadero tesoro de la época: fueron pagadas íntegramente con cacao venezolano.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img img-2"></div>
                    <div class="item-text">
                        <h3>Portal Monumental</h3>
                        <p>Su fachada te recibe con un imponente portal de yeso de 8 metros de altura, 
                        una obra maestra del barroco que parece tocar el cielo falconiano.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img img-3"></div>
                    <div class="item-text">
                        <h3>Fusión de Estilos</h3>
                        <p>Una mezcla perfecta entre el barroco español y la influencia de las Antillas Holandesas (Curazao).</p>
                    </div>
                </div>
        
            </div>
        </section>

        <section id="historia" class="history-section">
            <div class="history-container">
                <h2 class="title">Atractivos del Museo</h2>
                <div class="step">
                    <span class="year">El Olivo "Matusalén</span>
                    <p>Un árbol legendario en el patio central. Dicen que si pides un deseo con fe, se cumple.</p>
                </div>
                <div class="step">
                    <span class="year">Arquitectura de Poder</span>
                    <p>Techos de madera originales y patios que cuentan la historia de la familia Zárraga Tellería.</p>
                </div>
                <div class="step">
                    <span class="year">Mobiliario de Época</span>
                    <p>Una colección de objetos que te permiten ver cómo se vivía, se comía y se soñaba en el siglo XVIII.</p>
                </div>
            </div>
        </section>


        <footer class="footer">
            <a href="#inicio"><p>Histórico - Patrimonio Cultural de Coro</p></a>
        </footer>



    </header>

    
</body>
</html>